body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.8;
  background: #e5e5e5;
}
[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.article {
  padding-top: 50px;
  padding-bottom: 50px;
}

.artical__image {
  max-width: 100%;
  margin-bottom: 100px;
  background: url(.jpg), #212529;
}
.article__text-block {
  max-width: 816px;
  margin: 0 auto 80px;
}
.article__text-block p {
  margin-bottom: 30px;
}
.article__title {
  max-width: 605px;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.6;
  color: #212529;
}
.imeges {
  font-size: 0;
  margin-bottom: 100px;
}

.image {
  max-width: 100%;
  background: url(.jpg), #c4c4c4;
  border-radius: 5px;
}
.image_1 {
  margin-right: 30px;
  margin-left: 100px;
}
.dz {
  margin-left: 50px;
}
.red {
  border: 3px solid purple;
  max-height: 100px;
  margin-bottom: 100px;
  margin-right: 50px;
  border-left: 5px dashed purple;
  border-right: 3px dotted purple;
  outline: 10px dotted blue;
  border-radius: 10px;
}
.black {
  max-height: 100px;
  box-shadow: 5px 5px 5px 5px rgb(201, 86, 86);
  opacity: 0.4;
}
